!Assay
seqspec_version: 0.3.0
assay_id: ont-bulk-cdna
name: Bulk PCR-cDNA sequencing (Oxford Nanopore)
doi: ""
date: "{{ date }}"
description: bulk poly(A)+ RNA reverse transcribed with strand-switching, PCR amplified, sequenced on ONT; no cell barcode, no UMI
modalities:
  - rna
lib_struct: ""
sequence_protocol: Oxford Nanopore PromethION
sequence_kit: SQK-PCS114
library_protocol: ONT PCR-cDNA Sequencing
library_kit: SQK-PCS114
sequence_spec:
  - !Read
    read_id: {{ read_file_id }}
    name: cDNA read
    modality: rna
    primer_id: ssp_primer
    min_len: {{ read_min_length }}
    max_len: {{ read_max_length }}
    strand: pos
    files:
      - !File
        file_id: {{ read_file_id }}
        filename: {{ read_file_name }}
        filetype: {{ read_file_type }}
        filesize: {{ read_file_size }}
        url: {{ read_url }}
        urltype: {{ read_urltype }}
        md5: {{ read_md5sum }}
library_spec:
  - !Region
    region_id: rna
    region_type: rna
    name: rna
    sequence_type: joined
    min_len: {{ read_min_length }}
    max_len: {{ read_max_length }}
    onlist: null
    regions:
      - !Region
        region_id: ssp_primer
        region_type: primer
        name: strand-switching primer (SSP)
        sequence_type: fixed
        sequence: TTTCTGTTGGTGCTGATATTGCTGGG
        min_len: 26
        max_len: 26
        onlist: null
        regions: null
      - !Region
        region_id: cdna
        region_type: cdna
        name: cDNA insert
        sequence_type: random
        sequence: X
        min_len: {{ read_min_length }}
        max_len: {{ read_max_length }}
        onlist: null
        regions: null
      - !Region
        region_id: polyA
        region_type: poly_A
        name: poly(A) homopolymer
        sequence_type: random
        sequence: X
        min_len: 10
        max_len: 250
        onlist: null
        regions: null
      - !Region
        region_id: vnp_primer
        region_type: primer
        name: VN primer (VNP), reverse complement
        sequence_type: fixed
        sequence: ACTTGCCTGTCGCTCTATCTTC
        min_len: 22
        max_len: 22
        onlist: null
        regions: null
